/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

/* custom css */
/* Extra small devices (portrait phones, less than 576px) */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 575.98px) {
    .container {
        max-width: none; /* Remove the max-width restriction for extra small screens */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* external font */
@font-face {
    font-family: "SpyAgencySemi";
    src: url("../fonts/SpyAgencySemi-Italic.woff"),
         url("../fonts/SpyAgencySemi-Italic.woff2");
}

/* buttons */

.btn-filled {
    @apply rounded-lg bg-primary-100 text-base-0 font-bold px-24 py-12 text-base inline-block leading-6 border border-primary-100 transition-all duration-300
}

.btn-filled:hover {
    @apply text-base-0 border-base-100 bg-base-100 
}

.btn-filled-white {
    @apply rounded-lg bg-base-0 text-primary-100 font-bold px-24 py-12 text-base inline-block leading-6 border border-primary-100 transition-all duration-300
}

.btn-filled-white:hover {
    @apply text-base-0 border-base-100 bg-base-100 
}

.btn-outline {
    @apply rounded-lg bg-base-0 text-primary-100 font-bold px-24 py-12 text-base inline-block leading-6 border border-primary-100 transition-all duration-300
}

.btn-outline-white {
    @apply rounded-lg border-base-0  text-base-0 font-bold px-24 py-12 text-base inline-block leading-6 border transition-all duration-300
}

.btn-outline-white:hover {
    @apply bg-base-0 text-primary-100 
}

.btn-outline:hover {
   @apply bg-primary-100 text-base-0
}

.btn-white {
    @apply rounded-lg bg-base-0 text-primary-100 font-bold px-24 py-12 text-base inline-block leading-6 border border-base-0 transition-all duration-300
}

.btn-white:hover {
    @apply bg-base-100 text-base-0 border-base-100
}

/* General */

span.red {
    @apply text-primary-100
}

.banner-home::after {
    content: '';
    background-image: url(../img/linear-gradient.svg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 575px) {
    .banner-home::after {
        background-image: url(../img/linear-gradient-mobile.svg);
        background-position: center center;
    }
}

.banner-home::before {
    content: '';
    background-image: url(../img/panther-icon.svg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 14px;
    left: 20px;
    width: 152px;
    height: 110px;
    z-index: 9;
}

.tilt-btn {
    clip-path: polygon(25% 0%, 100% 0%, 74% 100%, 0% 100%);
}

.about-outer-wrap::before {
    content: '';
    background-image: url(../img/abstract-red-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    width: 100%;
    height: 77%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.custom-box-shadow {
    box-shadow: 0px 4px 30px 0px rgba(51, 51, 51, 0.08);
}

.products-btn::before {
    content: '';
    background-image: url(../img/btn-abstract-img.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    width: 225px;
    height: 105px;
    display: block;
    position: absolute;
    right: -25px;
    top: -28px;
    z-index: -1;
}

.footer-links-wrap {
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr;
    gap: 10%;
}

/* Text Marquee Effect */
  
.marquee .marquee_text {
    padding-left: 100%;
    animation: marquee 26s linear infinite;
}

.marquee .marquee_text p {
    color: rgb(255 255 255 / 12%);
}
  
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* ------------------- */

/* trainers list */

.trainers-list .trainers-single:nth-child(1) {
    transform: translateX(120px);
}
.trainers-list .trainers-single:nth-child(2) {
    transform: translateX(40px);
}
.trainers-list .trainers-single:nth-child(3) {
    transform: translateX(-40px);
}
.trainers-list .trainers-single:nth-child(4) {
    transform: translateX(-120px);
}

/* ------------------------------ */

.what-make-wrap::before {
    content: '';
    background-image: url(../img/what-make-graphic.svg);
    background-position: left bottom;
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 14px;
    left: 0px;
    bottom: 0;
    width: 445px;
    height: 323px;
   
}

.what-get::before {
    content: '';
    background-image: url(../img/what-get-bg-before.svg);
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left: 0px;
    right:0px;
    width: 100%;
    height: 25px;
   
}

.what-get::after {
    content: '';
    background-image: url(../img/what-get-bg-after.svg);
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom:0px;
    left: 0px;
    right:0px;
    width: 100%;
    height: 25px;
   
}

.join-us::after {
    content: '';
    background-image: url(../img/what-get-abstract-graphic.svg);
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -60px;
    left: -27px;
    right:0px;
    width: 238px;
    height: 154px;
   
}

.what-get-img::after {
    content: '';
    background-image: url(../img/what-get-lion.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -90px;
    right: -210px;
    width: 276px;
    height: 199px;
}

.banner-cta::before {
    content: '';
    background-image: url(../img/cta-linear-image.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}